block variables

doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title #{title}
    link(href=require('../../scss/main.scss') rel='stylesheet')
    link(rel="shortcut icon", href=require('../../images/favicon.svg'), type="image/x-icon")
    script(src=require('../../index.js') defer='defer')
  body(class=name)
    include ../parts/header.pug
    block content
    include ../parts/footer.pug